/*Making the top section of the page more responsive*/
.top-section-left-part{

    float: right;
    position:relative;
    z-index:1;

}

/*Text on the left of my profile picture*/
.pitch
{
    position: relative;
    float: inherit;


}
.pitch-text{

    color: black;
    line-height: 1.6;
    text-indent: 50px;
    text-align: justify;
    font-style: italic;
    font-size: 1.225em;
    font-family: "Courier New", Courier, monospace;

}
mark{

    color: deeppink;

}