/*Making the top section of the page more responsive*/
.top-section-left-part{

    float: right;
    position:relative;
    z-index:1;

}

/*Text on the left of my profile picture*/
.pitch
{
    position: relative;
    float: inherit;
}
.pitch-text{

    color: black;
    line-height: 1.6;
    text-indent: 50px;
    text-align: justify;
    font-size: 1.225em;

}
.my-name-at-the-top-left-of-the-page{

    font-size: 1.325em;
    text-align: center;

}
